.o_portal_documents_div {
    position: relative;
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.documents-container {
    margin: 15px 0;
}

.documents-container div.col-md-3 {
    padding: 5px;
}

.doc-container-content {
    border: 1px solid black;
    padding: 5px;
    background-color: #ffffff;
}

.document-type-binary, .document-type-directory, document-type-url {
    cursor: pointer;
}

.website-documents-breadcrumb a {
    cursor: pointer;
}

.action-button-header {
    margin-bottom: 15px;
}

.btn-remove-attachment {
    position: absolute;
    top:8px;
    right: 8px;
}

.btn-modify-attachment {
    position: absolute;
    top: 8px;
    right: 32px;
}


.modify-image-content img {
    display: block;
    margin: 0 auto;
}
